body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:15px;
    background-color: bisque;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#nav {
    background-color: antiquewhite;
    font-family: 'Baskerville Old Face';
    font-size: large;
}

.Bod {
    background-color: bisque;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}


.navbar-inverse .navbar-nav > li > a {
    color:black !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-inverse .navbar-brand {
    color: black !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bu {
    margin-bottom:50px;
    font-size:x-large;
  
}
.Bodin{
    background-color:blanchedalmond;
    color: black;
    font-family: 'Baskerville Old Face', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     border: 5px solid black;
}

#D {
 
    border: 5px solid white;
    width: 80%;
}

#K {
    background-image: url('../Background-Image.jpg');
}
.FAR {
    font-size:x-large!important;
    font-family:Perpetua!important;
    border:3px solid black;
}

.FAR2 {
    font-size:x-large!important;
    font-family:Perpetua!important;
    border:2px solid black;
}

.Erro {
    font-size:x-large!important;
    color:crimson;
}

.Ur {
    border:4px solid black;
    color:black;
    background-color:lightsteelblue;
    font-family:Castellar;
}

.Urban {
    border:5px solid black;
    background-color:aliceblue;
    color:black;
}

.Criar{
    border:5px solid black;
    background-color:cadetblue;
    color:black;
}

.Card {
    background-color:blanchedalmond;
    color: black;
    font-family: 'Baskerville Old Face', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    border: 5px solid black;
    font-weight: bold;
}

.Acron {
     background-color:black;
    color: firebrick;
    font-family: 'Baskerville Old Face', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     border: 5px solid firebrick;

}

.Acron3 {
    background-color:lightsteelblue;
    color:black;
    font-family: 'Baskerville Old Face', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

}



.Acron6 {
    background-color:grey;
    color:black;
    font-family: 'Baskerville Old Face', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    border: 2px solid black;
    width:850px;

}
.ci{
    border: 2px solid black;
}

.Vi {
    font-family:'Adobe Gothic Std';
    font-size:large;
}

.Fi {
    border: 1px solid black;
}

.Titulo1 {
  
     font-family:'Bookman Old Style';
     color:black;
     font-size:large;
}

.Relato {
      font-family: 'Baskerville Old Face', 'Arial Narrow', Arial, sans-serif;
      font-size: large;
      color:black;
}

.Ilustracao{
    background-color:floralwhite;
    color: black;
    font-family: 'Baskerville Old Face', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     border: 3px solid black;
}

.Si {
    font-family:'Bookman Old Style'!important;
    font-size:large;
}

.Besta {
  width:1000px;
   background-color:bisque;
}

.Besta1 {
  width:1100px;
   background-color:bisque;
}

.Distancia {
     background-color:bisque;
     font-size: large;
     border: 1px solid black;
}

.Acaobtn1 {
    background-color:burlywood;
    color:black;
    font-family: 'Baskerville Old Face', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

}
.Acaobtn2 {
    background-color:burlywood;
    color:black;
    font-family: 'Baskerville Old Face', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    border:3px solid darkred;
}
.Mostral1 {
    background-color:darkred;
    color:white;
    font-family: 'Baskerville Old Face', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    border:1px solid black;
}
.Mostral2 {
    background-color:midnightblue;
    color:white;
    font-family: 'Baskerville Old Face', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    border:1px solid black;
}

.StatusBut{
    color:black;
    font-size:20px;
    border:1px solid black;
}
.InventarioI {
      color:black;
      background-color:cornflowerblue;
    border:5px solid black;
}
.InventarioE {
      color:black;
      background-color:azure;
    border:2px solid black;
}
.InventarioA {
      color:black;
      background-color:darkseagreen;
    border:3px solid black;
}
.InventarioIt
{
      color:black;
      background-color:darkslateblue;
    border:3px solid black;
}
.CarregarPA
{
    color:black;
    background-color:darkslategrey;
    border:5px solid black;

}
.CarregarL
{
    color:black;
    background-color:lightyellow;
    border:2px solid black;

}