body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:15px;
    background-color: bisque;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#nav {
    background-color: antiquewhite;
    font-family: 'Baskerville Old Face';
    font-size: large;
}

#Bod {
    background-color: bisque;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}


.navbar-inverse .navbar-nav > li > a {
    color:black !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-inverse .navbar-brand {
    color: black !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#bu {
    margin-bottom:50px;
    font-size:x-large;
  
}
#Bodin{
    /* background-image: url('../Background-Image02.jpg');*/
    background-color:blanchedalmond;
    color: black;
    font-family: 'Baskerville Old Face', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
     border: 5px solid black;
}

#D {
 
    border: 5px solid white;
    width: 80%;
}

#K {
    background-image: url('../Background-Image.jpg');
}
#FAR {
    font-size:x-large!important;
    font-family:Perpetua!important;
    border:3px solid black;
}

#FAR2 {
    font-size:x-large!important;
    font-family:Perpetua!important;
    border:2px solid black;
}

#Erro {
    font-size:x-large!important;
    color:crimson;
}

#Ur {
    border:2px solid black;
    color:firebrick;
    background-color:azure;
    font-family:Castellar;
}

#Urban {
    border:5px solid black;
    background-color:aliceblue;
    color:black;
}
