@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    body {
        background-image: url('@Url.Content("~/Background-Image.jpg")');
    }
</style>
<div id="Bod" class="text-center">
    <h1>Bem-Vindo</h1>
    <br />
    <p>Este é o Site oficial do jogo HNI.</p>
    <br />
</div>

<div class="row" id="Bod">
    <div class="col-md-12 text-center">
        <div class="col-md-12 text-center">
            <h1>ATENÇÃO</h1>
            <br />
            <p>Ao acessar o site pela primaira vez o usuario deve criar uma conta para realizar o login e desfrutar do jogo .</p>
            <br />
        </div>
        <div class="col-md-4 text-center">
            <div class="jumbotron" id="Bodin">
                <h2>HNI:Mundo</h2>
                <br />
                <p>O Mundo é divido em 4 areas baseadas nos elementos naturais sendo Fogo,Agua,Terra e Ar tendo cada territorio possui criaturas com poderes baseados nos elementos além de uma fera hiper-poderosa condisente com seu elemento.</p>
                <br />
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="jumbotron" id="Bodin">
                <h2>HNI:Historia</h2>
                <br />
                <p>O Protagonista acorda em um mundo fantasioso dividido por areas  , ele encontra com um personagem que se diz Narrador e que o protagonista deve ajudar a salvar o mundo de um mal ancestral que despertou e está se recuperando.</p>
                <br />
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="jumbotron" id="Bodin">
                <h2>HNI:Classes</h2>
                <br />
                <p>Assim como um RPG padrão o protagonista será customizado pelo jogador,tendo escolha de 3 classes:Mago,Guerreiro e Ladino e cada classe terá habilidades garantindo ao cada jogador uma experiencia de jogo diferenciada.</p>
                <br />
            </div>
        </div>
    </div>
</div>
<div class="row" id="Bod">
    <div class="col-md-12 text-center">
        <div class="col-md-12 text-center">
            <h1>HNI:Jogo</h1>
            <br />
            <p>HNI é um jogo moldado por suas escolhas, a historia e acontecimentos giram entorno de suas decisões, o jogo ira apresentar um sistema de no maximo 4 opções para as questões do mundo e pelas palavras você ira conhecer esse mundo fantasiso.</p>
            <br />
        </div>
    </div>
</div><div class="jumbotron" id="Bodin">
    <h1>Duvidas ?</h1>
    <p>Você pode conseguir algumas respostas na area de Ajuda do site</p>
    <p><a class="btn btn-primary" id="FAR2" href="~/HNI/Ajuda">Ajuda</a></p>
</div>