
@{
    ViewBag.Title = "Ajuda";
}
<style type="text/css">
    body {
        background-image: url('@Url.Content("~/Background-Image.jpg")');
    }
</style>
<div class="row" id="Bod">
    <div class="col-md-12 text-center">
        <div class="col-md-12 text-center">
            <h2>Benvido tela de Ajuda</h2>
            <br />
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="jumbotron" id="Bodin">
            <h2>HNI:Mundo</h2>
            <br />
        </div>
    </div>
</div>


