
@{
    ViewBag.Title = "Ajuda";
}
<style type="text/css">
    body {
        background-image: url('@Url.Content("~/Background-Image.jpg")');
    }
</style>
<div class="row Bod" >
    <div class="col-md-12 text-center">
        <div class="col-md-12 text-center">
            <br />
            <h2>Bem-Vindo</h2>
            <br />
            <br />
        </div>
    </div>
    <div class="col-md-12 text-center">
        <div class="jumbotron Bodin " >
            <h2>Artigos Populares</h2>
            <br />
            <p>Como utilizar: O site HNI tem como obejetivo ser um jogo</p> 
            <br />
            <p>1: primerio passo devese criar uma conta na interface de cadastro para poder acessar o jogo quando o cadastro estiver completo e com todos os dados preenchidos e aceitando os termos de uso e apertando no botão de salvar cadastro. </p>
            <br />
            <p>2: segundo passo é se logar com a conta cadastrada e dados aceitos, o acesso será feito na interface de login e o usuario poderá ter acesso a as funcionalidades do game depois de apertar no botão entrar e seus dados forem aceitos. </p>
            <br />
            <p>3: terceiro passo criar personagem os personagens disponiveis são ladino, guerreiro e mago um deles podera ser escolhido na tela de escolha de personagem. </p>
            <br />
            <p>4: quarto passo criar o personagem na tela de escolha de personagem preechendo os campos necessários. </p>
            <br />
            <p> Mais informações procurar no email a seguir: HNIservices@gmail.com </p>
        </div>
    </div>
</div>


