
@{
    ViewBag.Title = "Escolha";
}
<style type="text/css">
    body {
    background-image: url('@Url.Content("~/Background-Image.jpg")');
    }
</style>

<div class="row">
    <hr/>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <div class="jumbotron" id="Acron">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="jumbotron" id="Acron2">
                        <div class="row">
                            <div class="col-md-2 text-center">
                                <div class="jumbotron" id="Acron4">
                                    <p>Imagem do P</p>
                                </div>
                                <div class="Row">
                                <div class="col-md-12  text-center">
                                    <div class="jumbotron" id="Acron6">
                                        <p>Texto</p>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="jumbotron" id="Acron3">
                        <a class="btn" id="Acron3" href="~/HNI/Escolha">Resposta</a>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="jumbotron" id="Acron3">
                        <a class="btn" id="Acron3" href="~/HNI/Escolha">Resposta</a>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="jumbotron" id="Acron3">
                        <a class="btn" id="Acron3" href="~/HNI/Escolha">Resposta</a>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="jumbotron" id="Acron3">
                        <a class="btn" id="Acron3" href="~/HNI/Escolha">Resposta</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-5 text-center">
                        <p><button type="submit" id="Acron5" class="btn btn-default" data-toggle="modal" data-target="#modal">Opções</button><p/>
          
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" >Opções:</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row text-center">
                        <a class="btn btn-primary" id="FAR2" href="~/HNI/Inventario">Inventario</a>
                        <a class="btn btn-success" id="FAR2" href="~/HNI/Mapa">Mapa</a>
                        <a class="btn btn-warning" id="FAR2" href="~/HNI/Menu">Menu</a>
                    </div>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        
  