
@{
    ViewBag.Title = "HNI";
}
<style type="text/css">
    body {
    background-image: url('@Url.Content("~/Background-Image.jpg")');
    }
</style>
<h3>Jogo</h3>
<div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
        <div class="jumbotron" id="Bodin">

        </div>
    </div>
    <div class="col-md-8 col-md-offset-2 text-center">
        <div class="jumbotron" id="Bodin">

        </div>
    </div>
    <div class="col-md-3 col-md-offset-3 text-center">
        <div class="jumbotron" id="Bodin">

        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="jumbotron" id="Bodin">

        </div>
    </div>
    <div class="col-md-3 col-md-offset-3 text-center">
        <div class="jumbotron" id="Bodin">

        </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="jumbotron" id="Bodin">

        </div>
    </div>
</div>

