
@{
    ViewBag.Title = "Escolha";
}
<style type="text/css">
    body {
    background-image: url('@Url.Content("~/Background-Image.jpg")');
    }
</style>

<div class="row">
    <hr/>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <div class="jumbotron" id="Bodin">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <div class="jumbotron" id="Bodin">
                        <div class="row">
                            <div class="col-md-2 text-center">
                                <div class="jumbotron" id="Bodin">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-2 text-center">
                                    <div class="jumbotron" id="Bodin">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12  text-center">
                                    <div class="jumbotron" id="Bodin">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-3 text-center">
                    <div class="jumbotron" id="Bodin">

                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="jumbotron" id="Bodin">

                    </div>
                </div>
                <div class="col-md-3 col-md-offset-3 text-center">
                    <div class="jumbotron" id="Bodin">

                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="jumbotron" id="Bodin">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


