
@{
    ViewBag.Title = "Escolha";
}
<style type="text/css">
    body {
    background-image: url('@Url.Content("~/Background-Image.jpg")');
    }
</style>

<div class="row">
    <hr/>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <div class="jumbotron" id="Acron">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="jumbotron" id="Acron2">
                        <div class="row">
                            <div class="col-md-2 text-center">
                                <div class="jumbotron" id="Acron4">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12  text-center">
                                    <div class="jumbotron" id="Acron6">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="jumbotron" id="Acron3">

                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="jumbotron" id="Acron3">

                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="jumbotron" id="Acron3">

                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="jumbotron" id="Acron3">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-5 text-center">
                        <div class="jumbotron" id="Acron5">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


