@using  HNI.Models
@Model Usuario 
@{
    ViewBag.Title = "Login";
}

<h1>Bem-Vindo</h1>
<br />
<br />

<form>

    <div class="jumbotron" id="Bodin">

        <div class="row">

            <div class="form-grop">

                <div class="col-md">

                    <h2>Login</h2>

                    <br />
                    @Html.LabelFor(m => m.Email, "Degite seu Email:", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                    <p><a class="btn btn-primary" href="~/HNI/Cadastro">Entar</a></p>

                </div>

            </div>

            <div class="form-grop">

                <div class="col-md">

                    <h2>Login</h2>

                    <br />
                    @Html.LabelFor(m => m.Senha, "Degite sua Senha:", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Senha, new { @class = "form-control" })

                    <p><a class="btn btn-primary" href="~/HNI/Cadastro">Entar</a></p>

                </div>

            </div>

        </div>

    </div>

</form>
