
@{
    ViewBag.Title = "Perdeu";
}
<style type="text/css">
    body {
        background-image: url('@Url.Content("~/Background-Image.jpg")');
    }
</style>
<h2 class="text-center">Perda da Batalha</h2>
<div class="Bod">
    <p>Bem você perdeu esse batalha amigo :( ,Quando você clicar em "Continuar" voltará a cena anterior e perderá 1000 de Ouro, caso você tenha menos de 1000 ouros você ficará com 0.</p>

    <a class="btn btn-success FAR2 " href="@Url.Action("Escolha", "HNI")">Continuar</a>
</div>


