
@{
    ViewBag.Title = "Progresso Salvo";
}
<style type="text/css">
    body {
        background-image: url('@Url.Content("~/Background-Image.jpg")');
    }
</style>
<div class="Bod">
<h2 >Parabéns Progresso Salvado Com Sucesso :)</h2>

<a class="btn btn-success FAR2 "  href="@Url.Action("Escolha", "HNI")">Continuar</a>
</div>