
@{
    ViewBag.Title = "Termos de uso";
}
<style type="text/css">
    body {
        background-image: url('@Url.Content("~/Background-Image.jpg")');
    }
</style>
<div class="jumbotron Bodin">
    <h1>Termos de Uso</h1>
    <br />
    <p>O Site/Jogo estão disponíveis para uso somente por usuários finais autorizados em conformidade com os termos e condições estabelecidos no presente Termo.  Seus direitos de utilização do software do site/jogo (o "Software") são definidos e sujeitos aos termos e condições deste Termo e do Contrato de Licença do Usuário Final (“End User License Agreement”). O Site, o Software e os "kits de fã", caso algum seja disponibilizado, (coletivamente, as "Propriedades") são fornecidos individualmente, em caráter não comercial, para fins de entretenimento apenas.  Exceto se expressamente permitido pelo Projeto HNI, você não está permitido a vender, copiar, trocar, transferir, publicar, atribuir ou distribuir qualquer coisa que tenha sido copiada ou derivada das Propriedades, também é proibida a venda de contas do jogo nem programas maléficos que burlem o jogo e suas regra durante a partida.</p>
    <br />
</div>

